
h1{
    text-align: center;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: serif;
    color: rgb(32, 10, 233)
}
.container{
    margin-top: 40px;
    margin-left: 400px;
    position: absolute;
    text-align:center;
    display: flex;
    align-items: flex-end;
}
.containerr{
    margin-top: 40px;
    margin-left: 700px;
    position: absolute;
    text-align:center;
    display: flex;
    align-items: flex-end;
}
.form{
    width: 600px;
    height: auto;
    margin: 30;
    border: 1px rgb(6, 6, 248) solid;
    background: url(https://cmsresources.elempleo.com/sites/default/files/styles/large/public/fotos/noticias/istock-1216072643.jpg?itok=7nRmugyp);
}
.form input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: blue;
	width: 80%;
	padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center
}
.form button{
    background: rgb(6, 6, 248);
    color: white;
    width: 250px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:30px
}
.form button:hover{
    background: rgb(228, 7, 7);
    cursor: pointer;
    border: 1px solid;
}
.tabla{
    position: relative;
    border:2px rgb(6, 6, 248) solid;
    width: 600px;
    margin-left: 40px;
    background: url(https://images.theconversation.com/files/368239/original/file-20201109-23-l2qldm.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5000%2C3323&q=45&auto=format&w=496&fit=clip);
    
}

.tabla .table{
    padding-left: 30px;
    font-size: 30px;
    text-align: center;
    color: blue;
}
.tabla .table td{
    border-right: 1px solid wheat;
    border-bottom: 1px solid wheat;
    color: rgb(3, 3, 5);
}
.tabla .table a{
    text-decoration: none;
    color: rgb(243, 141, 9);
    margin: 20px;
    font-size: 35px;
}
.tabla .table a:hover{
    font-size: 40px;
    color: rgb(255, 0, 0);
}
.edi{
    width: 600px;
    height: auto;
    margin: 30;
    border: 1px rgb(6, 6, 248) solid;
    background: url(https://d2v9ipibika81v.cloudfront.net/uploads/sites/107/Certificacion-medicos.jpg);
}
.edi input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: blue;
	width: 80%;
	padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center
}
.edi button{
    background: rgb(6, 6, 248);
    color: white;
    width: 250px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:30px
}
.edi button:hover{
    background: rgb(85, 85, 214);
    cursor: pointer;
    border: 1px solid;

}
footer{
    background: black;
    color: white;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    margin-top: 800px;
    font-size: 25px;
}