{% extends 'layaut.html' %}

{% block body %}
<div class="containerr">


<form class="edi" action="/update/{{cons.0}}" method="POST">
    <h2>Editar Consulta</h2>
    <input type= "text" name="nombre" placeholder="nombre" value="{{ cons.1 }}">
    <input type= "text" name="hora" placeholder="hora" value="{{ cons.2 }}">
    <button type="submit">Guardar</button>

</form>
</div>
{% endblock %}