{% extends 'layaut.html' %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <form class="form" action="/add_consulta" method="POST">
    <h2>Agregar una cita</h2>
    <input type= "text" name="nombre" placeholder="nombre">
    <input type= "text" name="hora" placeholder="hora">
    <button class="boton" type="submit">Guardar</button>

</form>

<div class="tabla">
    <h2>Proximas citas</h2>
<table class="table">
    <thead>
        <tr>
            <td>Clientes</td>
            <td>Hora</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        {% for cons in consulta %}
        <tr>
            <td>{{ cons.1 }}</td>
            <td>{{ cons.2 }}</td>
            <td>
                <a href="/edit/{{cons.0}}">Editar</a>
                <a href="/delete_consulta/{{cons.0}}">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %}