<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diccionario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>Clinica De Dientes</h1>
    <img >
    {% block body %}

    {% endblock %}
    <footer>
<p>Carolinna futura de Bazán</p>
</footer>
</body>
</html>